apiVersion: apps/v1
kind: Deployment
metadata:
  name: bizleal-api-deployment
  namespace: bizleal
  labels:
    app: bizleal-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bizleal-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: bizleal-api
    spec:
      imagePullSecrets:
        - name: bizleal-api-sercret
      containers:
        - name: bizlea-api
          image: eyupersoy/bizleal-api:1.0.0
          imagePullPolicy: IfNotPresent
          command: ["yarn", "start"]
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "120m"
          envFrom:
          - configMapRef:
              name: bizleal-api-config
          - secretRef:
              name: mysql-secret
              

---

apiVersion: v1
kind: Service
metadata:
  name: bizleal-api-service
  namespace: bizleal
spec:
  selector:
    app: bizleal-api
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
